////
/// @group backgrounds
////



@mixin primary-background() {
	.primary-background {
		background-color: $primary-color;
	}
	
	.lightgray-content {
		@extend .primary-background;
		
		padding:3rem 0;
		color: $white;
	}
}

@mixin lightgray-background() {
	.lightgray-background {
		background-color: $light-gray;
	}
	
	.lightgray-content {
		@extend .lightgray-background;
		
		padding:3rem 0;
		color: $black;
	}
}

@mixin darkergray-background() {
	.darkergray-background {
		background-color: $darker-gray;
	}
	
	.darkergray-content {
		@extend .darkergray-background;
		
		padding:3rem 0;
		color: $white;
		
		a {
			color:$white;
			
			&:hover {text-decoration:underline;}
		}
	}
}

@mixin secondary-background() {
	.secondary-background {
		background-color: $secondary-color;
	}
	
	.secondary-content {
		@extend .secondary-background;
		
		padding:3rem 0;
		color: $white;
		
		h1,h2 {
			text-shadow: 2px 2px #393939;
			color: $white;
		}
	}
}

@mixin backgrounds {
    @include primary-background;
	@include secondary-background;
	@include lightgray-background;
	@include darkergray-background;
}
