
////
/// @group firefighter
////

@mixin firefigher-base {
	@font-face {
  font-family: "firefighter";
  src:url("../fonts/firefighter.eot");
  src:url("../fonts/firefighter.eot?#iefix") format("embedded-opentype"),
    url("../fonts/firefighter.woff") format("woff"),
    url("../fonts/firefighter.ttf") format("truetype"),
    url("../fonts/firefighter.svg#firefighter") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "firefighter" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "firefighter" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-firefighter:before {
  content: "\61";
}
.icon-burninghouse:before {
  content: "\62";
}
.icon-flames:before {
  content: "\63";
}
.icon-hose:before {
  content: "\64";
}
.icon-hydrant:before {
  content: "\65";
}
.icon-truck:before {
  content: "\66";
}
.icon-vehicle:before {
  content: "\67";
}
}


@mixin firefighter-font() {
  		@include firefigher-base;
}