////
/// @group alertboxes
////



@mixin alertbox-base() {
	.alert-box {

  background: #f7f7f7;

  color: #333;

  border: none;

  border-left: 6px solid #008CBA;

  box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);

  

  &.success {

    background: #f7f7f7;

    color: #333;

  }

  

  &.alert {

    background: #f7f7f7;

    color: #333;

  }

  

  &.warning {

    background: #f7f7f7;

    color: #333;

  }

  

  &.info {

    background: #f7f7f7;

    color: #333;

  }

  

  &.small {

    padding-top: 0.25rem;

    padding-bottom: 0.25rem;

    font-size: 0.75rem;

    

    .close {

      font-size: 1.5rem;

    }

  }

  

  &.large {

    padding-top: 1.5rem;

    padding-bottom: 1.5rem;

    font-size: 2rem;

    

    .close {

      font-size: 3rem;

    }

  }

  

  .close {

    font-size: 2rem;

    line-height: 1.25rem;

  }

}
	
}

@mixin alert-boxes {
    @include alertbox-base;
}