////
/// @group blockquotes
////



@mixin blockquote-base() {
	
.cite {

  padding: 10px 0 10px 30px;

  margin: 0 0 1rem -10px;

  p {

    font-style: italic;

  }

}

.cite-yellow {
	@extend .cite;
	
	border-left: 5px solid #ffdb3a;
}

.cite-secondary {
	@extend .cite;
	
	border-left: 5px solid $secondary-color;
}

.cite-primary {
	@extend .cite;
	
	border-left: 5px solid $primary-color;
}

}

@mixin blockquotes {
    @include blockquote-base;
}
