////
/// @group content
////


/// Adds basic styles for a footer, including padding and margin.
@mixin content-base() {
  padding: 0;
  
  @media #{$medium-up} { 
  min-height:750px;
  }
  
  @media #{$large-up} { 
  min-height:800px;
  }
  
  h1,h2,h3,h4,h5 {
	  font-family: 'heading', sans-serif;
  }
  
  section {
	  padding:3rem 0;
  }
}

@mixin content-styles() {
	
	#mail a:hover {
		color:$black;
		text-decoration:underline;
	}
	
	.imedium {
		font-size:1.5rem;
		margin-right:2rem
	}
	
	.ilarge {
		font-size:2.5rem;
		
		&.left {
			margin-left:2rem
		}
	}
	
	.lastEvent {
		
		text-align:center;
		
		i {
			color:$white;
			font-size:3rem;
			border:0.3rem solid $white;
			padding:1rem 1.1rem 0.4rem 1.1rem;
			border-radius:50%;
		}
		h3 {margin-top:1rem;}
	}
	
 .features {

	text-align: center;
	margin-top:5rem;
	hr {
		width: 25%;
		margin: 1rem auto;
	}

	.round-icon {
  background-color: $secondary-color;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: -61px auto 1rem;
  width: 100px;
  font-size: 3rem;

  span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  	}
	}

	@media only screen and (max-width: 40em) {

		.columns {
			margin-bottom: 5rem;
		}
	}
}
	
	.polaroid {
	  border: solid 10px $white;
	  box-shadow: 0 0 0 1px rgba($black, 0.2);
	  display: inline-block;
	  line-height: 0;
	  max-width: 100%;
	  transition: box-shadow 200ms ease-out;
	  border-radius: $global-radius;
	  margin-bottom: $global-margin;
	  background-color:$white;
	  margin: 0 0.5rem;
	
	  &:hover,
	  &:focus {
		box-shadow: 0 0 6px 1px rgba($primary-color, 0.5);
  		}
		
		img {
			margin:$global-margin 0;
			border: solid 1px $black;
		}
		
		h5 {color:$black;}
	}
	
	.contentpage {
		margin-top:5rem;
	}
}


@mixin content() {
	main {
  		@include content-base();
	}
	
	@include content-styles();
}
