////
/// @group events
////



@mixin event-base() {
	.event {

  padding: 1rem 1rem 1rem 0;

  display: table;

}



.event-date {

  width: 6rem;

  margin: 0 auto 1rem;

  display: table-cell;

  width: auto;



  .event-month {

    margin: 0;
	
	color:$black;

    background: #fff;

    padding: 0.5rem 2rem;

    text-align: center;

  }



  .event-day {

    margin: 0;

    border: 1px solid #eee;

    padding: 0 2rem;

    text-align: center;

    font-size: 2rem;

  }

}



.event-desc {

  padding: 0 0 0 1rem;

  text-align: left;

  display: table-cell;

  vertical-align: top;



  .event-desc-header {

    margin: 0 0 0.5rem 0;

    padding: 0;

  }



  .event-desc-detail {

    margin: 0 0 0.25rem;

    padding: 0;

  }



  .event-desc-time {

    font-weight: bold;

  }



  .rsvp.button {

    padding-top: 0.5rem;

    padding-bottom: 0.5rem;

    margin: 0;

  }

}
	

}

@mixin events {
    @include event-base;
}