////
/// @group footer
////

/// Defualt background color.
/// @type Color
$footer-background: darken($primary-color,20%) !default;

/// Default bottom margin for footer.
/// @type Number
$footer-margin: 0 !default;

/// Default inner padding for footer.
/// @type Number
$footer-padding: 2rem 1rem 1rem 1rem!default;

/// Default font color for footer.
/// @type Color
$footer-font-color: $white !default;

/// Adds basic styles for a footer, including padding and margin.
@mixin footer-base() {
  margin: $footer-margin;
  padding: $footer-padding;
  position: relative;
  color: $footer-font-color;
  background-color: $footer-background;
  min-height:200px;
  
  // Respect the padding, fool.
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

@mixin footer-menu {
	.menu {
		li:hover, li:active {
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			background-color: darken($primary-color,40%);
		}
		a {
			color:$white;
		}
	}
}


@mixin footer-icons {
	i {
		font-size: 3rem;
		color: $white;
		margin-right:2rem;
		text-shadow: 1px 4px 6px #000,0 0 0 #000,1px 4px 6px #000;
	}
}

@mixin footer() {
	footer {
  		@include footer-base;
		@include footer-menu;
		@include footer-icons;
	}
}
