////
/// @group logo
////


/// Adds basic styles for a footer, including padding and margin.
@mixin logo-base() {
	  text-align:center;
	  color:$white;
	  position:absolute;
	  z-index:998;
	  width:100%;
	
 @media #{$large-up} {
	  top:20%;
	  
	  h2 {
		  margin:15px auto;
		  width:40%;
		  font-weight:500;
	  }
	}
	
	
@media #{$medium-only} {
	  top:30%;
	  
	  h2 {
		  margin:15px auto;
		  font-weight:500;
	  }
	}

	
@media #{$small-only} {
	  top:40%;
	  
	  h2 {
		  margin:15px auto;
		  font-weight:500;
	  }
	}
}

@mixin logo-image {
	img {
		width:20%;
	}
}


@mixin logo() {
	#logo {
  		@include logo-base();
		@include logo-image();
	}
}
