////
/// @group tabnav
////

/// Default font color for tapnav.
/// @type Color
$tabnav-font-color: transparent !default;



/// Adds basic styles for a footer, including padding and margin.
@mixin tabnav-base() {
	float:left;
	margin-top:0.5rem;
	
	 a {
		 color:$tabnav-font-color;
		 padding: 0.7rem 1rem;
		
		&:focus {
			color:$white;
		}
	}
}


@mixin tabnav() {
	#tabnav {
  		@include tabnav-base;
	}
}
